
.record-list {
    height: 400px;
}
.double-record-list {
    height: 600px;
}
.required {

}
.requiredsharedwithvocab{
    height: 40px;
}
.requiredsharedwithvocab-label{
    color: red;
}

.sharedwithvocab{
    height: 40px;
}
.doubleheight{
    height: 55px;
}
.sixtypx{
    height: 100px;
}
.required-label {
        color: red;
}


.required-picture-gallery-label{
    color: red;
}

.read-only {
            background-color: #EEEEEE;
}
.read-only-label{
    }


.gps-status {
    height: 130px;
}

.faims-blue {
    background-color: #33b5e5;
    border-color: #26a0cd;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    
}
